.contact-form {
  &__title {
    margin-bottom: 15px;
  }

  &__form {
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &_inputs {
      width: calc(80% - 20px);

      @media (max-width: 1024px) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &_group {
      width: calc(33.33% - 10px);
      @include form-425;
    }
  }

  &__btn {
    width: 20%;
    padding: 11.5px 0;

    @media (max-width: 1024px) {
      width: calc(33.33% - 10px);
    }
  }

  // @media (max-width: 1024px) {
  //   width: 100%;
  //   margin-bottom: 20px;
  // }
}
