.contacts {
  &__item {
    display: grid;
    grid-template-columns: 25px auto;

    @include gradient;
    line-height: 1.6;

    &:hover {
      color: transparent;

      .contacts__svg_no-gradient {
        opacity: 0;
      }

      .contacts__svg_gradient {
        opacity: 1;
      }
    }

    &__svg {
      display: flex;
      position: relative;
    }
  }

  &__svg {
    width: 100%;
    height: 15px;

    position: relative;
    top: 5px;

    @include svgGradient;
    justify-self: start;

    &_gradient {
      width: 100%;
      top: 5px;
    }
  }

  &__text {
    @include standartText;
  }

  &__address {
    cursor: default;
  }
}
