.header {
  padding: 10px 0;
  width: 100%;

  color: #ffffff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_margin-width {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 1.25em;
  }

  .navigation {
    width: 55%;

    &__item {
      @include standartText;
    }

    @media (max-width: 768px) {
      display: flex;
      width: 100%;
      height: 100%;

      position: fixed;
      top: 0;
      right: -100%;
      z-index: 2;

      background-color: #0e0e0e;
      transition: right 0.3s linear;

      &__item:not(:last-child) {
        margin-bottom: 12.5vw;
        @include sText;

        a {
          font-family: 'Montserrat SemiBold', sans-serif;
          font-weight: 600;
        }
      }

      &._active-menu {
        right: 0;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;

      @media (max-width: 768px) {
        margin: auto;
        flex-direction: column;
        align-items: center;
      }
    }

    &__item {
      @include sText;
    }
  }

  @media (max-width: 550px) {
    .logo {
      width: 60px;
    }
  }
}
