.latest-news {
  &__title {
    margin-bottom: 30px;
  }
  &__item {
    font-size: 0;

    &_title {
      margin-bottom: 10px;

      font-family: 'Roboto Medium', sans-serif;
      font-weight: 500;
      @include mText;
    }

    &:nth-child(1) {
      grid-area: 1 / 1 / 3 / 2;
    }

    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }

    &:nth-child(3) {
      grid-area: 1 / 3 / 3 / 4;
    }

    &:nth-child(4) {
      grid-area: 1 / 4 / 2 / 5;
    }

    &:nth-child(5) {
      grid-area: 3 / 1 / 4 / 2;
    }

    &:nth-child(6) {
      grid-area: 2 / 2 / 4 / 3;
    }

    &:nth-child(7) {
      grid-area: 3 / 3 / 4 / 4;
    }

    &:nth-child(8) {
      grid-area: 2 / 4 / 4 / 5;
    }

    @media (max-width: 1024px) {
      &:nth-child(1) {
        grid-area: 1 / 1 / 3 / 2;
      }

      &:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
      }

      &:nth-child(3) {
        grid-area: 2 / 2 / 4 / 3;
      }

      &:nth-child(4) {
        grid-area: 3 / 1 / 4 / 2;
      }

      &:nth-child(5) {
        grid-area: 4 / 2 / 5 / 3;
      }

      &:nth-child(6) {
        grid-area: 4 / 1 / 6 / 2;
      }

      &:nth-child(7) {
        grid-area: 6 / 1 / 7 / 2;
      }

      &:nth-child(8) {
        grid-area: 5 / 2 / 7 / 3;
      }
    }

    @media (max-width: 550px) {
      &:nth-child(n) {
        grid-area: auto;
      }
    }
  }

  .hover-effect {
    &__item {
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(7) {
        .hover-effect__img_wrapper {
          padding-top: 88.5%;
        }
      }
    }
  }
}
