.loading {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;

  &__svg {
    width: 35px;
    height: 35px;
    margin: auto;

    fill: url(#gradient);
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
