.main-slider {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  &__item {
    height: 100%;

    @media (max-width: 600px) {
      position: relative;
      left: -200px;
    }
  }

  &__img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__dots {
    align-self: flex-end;

    @media (max-width: 550px) {
      padding-bottom: 10vw;
    }
  }

  &__dots-list {
    li {
      width: 8px;
      height: 8px;
      margin-bottom: 0.5em;

      border-radius: 50%;
      background-color: #c4c4c4;
      cursor: pointer;

      &.slick-active {
        @include backgroundGradient;
      }

      @media (max-width: 768px) {
        width: 5px;
        height: 5px;
        margin-bottom: 30px;
      }
    }

    button {
      visibility: hidden;
    }
  }

  &__text-slider {
    width: 60vw;
  }

  &__slider-counter {
    align-self: flex-start;
    font-size: 0.9em;

    @media (max-width: 768px) {
      font-size: 24px;
    }

    @media (max-width: 550px) {
      position: relative;
      left: 20px;
    }

    sup {
      font-size: 0.5em;
    }
  }

  .slick-list,
  .slick-track,
  .slick-slide > div {
    height: 100%;
  }
}
