.socials {
  &__list {
    display: flex;
    justify-content: space-between;
    font-size: 0;
  }

  &__link {
    display: block;
    position: relative;

    &:hover {
      .socials__svg_no-gradient {
        opacity: 0;
      }

      .socials__svg_gradient {
        opacity: 1;
      }
    }
  }

  &__svg {
    @include svgGradient;
  }
}
